/*Debate.css*/
/*Borrowed from campaign.css*/
#overlay-load{
  position:absolute;
  z-index:10;
  height:100%;
  width:100%;
  top:0;
  left:0;
  background:rgb(33,33,33);
}
#comment-text{
  width:100%;
  resize:none;
}
.inline-band div{
  display:inline-block;
  margin:0;
  padding:2px;
  width:30%;
}
.inline-band div:nth-of-type(2n+1){
  background:#263238;
  color:white !important;
}
.inline-band div:nth-of-type(2n){
  background:#B0BEC5;
}
.fa{
  font-size:23px !important;
}
.btn-panel{
  display:inline-block; /*A value fixed for now*/
  position:absolute;
  right:0px;
}
/*Borrowed from profile.css*/
body,html{
  background:rgb(55,71,79);
}
#header{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.campaign-screen{
  padding:3%;
  margin:4% 3% 3% 3%;
  background:rgb(236,239,241);
}
.label-text{
  /*This rule is for the glyphicons and the label that follows them*/
  font-family:'bebas_neue_regularregular';
  font-size:18px !important; /*Overrides BootStrap files*/
  margin-right:4px;
  margin-left:4px;
}
.title{
  font-family:'arimo';
  font-size:60px !important; /*Overrides BootStrap files*/
}
.inline-show{
  /*Used for the components of the comment*/
  display: inline-block;
  position:relative;
}
hr{
  clear:both;
  float:none;
  width:100%;
  height:1px;
  margin 1.4em 0;
  border:none;
  background:#ddd;
  background-image: -webkit-gradient(
    linear,left-bottom,right-bottom,
    color-stop(0,rgb(255,255,255)),
    color-stop(0.1,rgb(221,221,221)),
    color-stop(0.9,rgb(221,221,221)),
    color-stop(1,rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
    left center,
    rgb(255,255,255) 0%,
    rgb(221,221,221) 10%,
    rgb(221,221,221) 90%,
    rgb(255,255,255) 100%
  );
}
.btn-transparent{
  background:transparent;
  border:none;
}
/*Native to this file*/
.debate-comment-arena{
  width:100%;
}
.comment-width{
  width:80%;
}
#debate-comments{
  display:inline-flex;
  width:100%;
}
#comments-agree, #comments-disagree{
  width:50%;
}
.dp-align{
  vertical-align:top;
}
.yes{
  padding:3px;
  background: #9ccc65;
  border:none;
  position: relative;
}
.no{
  border:none;
  padding:3px;
  background:#ef5350;
  position:relative;
}
.debate-box{
  display:inline-flex;
  margin:2px;
  background:white;
  color:white;
  word-break:break-all;
  width:350px;
  height:150px;
}
.debate-box a>div{
  display:inline-block;
}
.debate-desc, .debate-title{
  display:block;
  margin-left:3px;
}
.debate-title{
  font-size:20px;
  text-transform:capitalize;
  color:#2C3F52;
  font-weight:bolder;
}
.debate-desc{
  font-size:15px;
  color:#ED4E6E;
  font-weight:bolder;
  width:100%;
}
.debate-thumbnail {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  text-align: center;
  display:inline-block;
}
.debate-thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.debate-thumbnail img.portrait {
  width: 100%;
}
.debate-box a
{
  font-size:20px;
  cursor:pointer;
  color:black;
  text-decoration:none;
}
.fixed-size{
  vertical-align:top;
  word-break:break-all;
  width:195px;
  height:100%;
  -webkit-hyphens:auto;
   -moz-hyphens: auto;
        hyphens: auto;
}
