.title{
  font-size:50px !important;
}
.debate-body{
  position:relative;
}
/*Native to campaign_list and debate_list*/
.left-side{
  height:100%;
}
.left-side{
  width:80%;
}
.right-side{
  position:absolute;
  right:0px;
  top:0px;
  width:10%;
  text-align:center;
}
.right-side .fa{
  font-size:30px !important;
  padding-left:2px;
  margin-right:2px;
}
.title-smaller{
  font-size:30px !important;
}
.option{
  font-size:15px !important;
  margin:3px;
  cursor:pointer;
  padding:2px;
  border:1px solid #455A64;
  text-align: center;
  position: relative;
}
.accordion-title{
  position: relative;
  width:95%;
  cursor:pointer;
  border-bottom:1px solid #616161;
}
.sticky-right{
  position: absolute;
  right:0px;
  bottom:2px;
}
.right-side .label-text input[type="radio"]{
  margin:8px !important;
}
.label-text .fa{
  cursor:pointer;
  margin:3px;
}
.hidden, .accordion-hidden{
  display:none;
}
.show, .accordion-show{
  display:block;
}
/*For the styling of the campaign icons*/
.campaign-object{
  display:inline-block;
  text-align:center;
  position: relative;
  margin:1%;
}
.thumbnail{
  top:0;
  left:0;
  height:120px;
  width:120px;
  border-width: 5px;
  border-style: solid;
  border-radius:50%;
}
.campaign-object a{
  text-decoration:none;
  width:100%;
  font-family:'aaarghnormal';
  font-size:12px;
  color:black;
  text-transform:uppercase;
  color:white;
  font-weight:bold;
  padding:10px;
  min-width:120px;
}
.no-action{
  background:rgb(229,57,53);
  border-color:rgb(229,57,53);
}
.cant-take-action{
  background:rgb(251,192,45);
  border-color:rgb(251,192,45);
}
.taken-action{
  background:rgb(56,142,60);
  border-color:rgb(56,142,60);
}
