.map-info{
  display:inline-block;
  background:white;
  border-radius:4px;
  vertical-align: top;
  padding:4px;
  width:45%;
}
.map-svg{
  display:inline-block;
  width:45%;
}
path
{
	cursor:pointer;
}
.fixed-note{
  position:fixed;
  top:0px;
  right:0px;
  background:white;
  font-weight:bolder;
  color:black;
  margin-top:4%;
  margin-right:3%;
  width:150px;
}
.fixed-note a{
  text-decoration: none;
  color:black;
}
.fixed-note button{
  padding:4px;
  background:#642700;
  color:white;
  font-weight: bold;
  margin:2px;
  width:100%;
  text-align: center;
  border:none;
  border-radius: 4px;
  cursor:pointer;
}
