.map-info{
  background:white;
  border-radius:4px;
  vertical-align: top;
  padding:4px;
}
.map-svg{
  display:inline-block;
  width:45%;
}
.half.inline{
  width: 45%;
  vertical-align: top;
}
.campaign-object{
  position: relative;
  margin: 3%;
  vertical-align: top;
  display:block;
  text-align: left;
}
.campaign-object a{
  position: absolute;
  transform: translateY(30%);
  width: 60% !important;
}
.tinier{
  /*Inside .campaign-object a*/
  font-size:10px;
}
.feedElementBox .msgMix{
  /*For feed elements*/
  width:70%;
}
.scrollable{
  height:60%;
  overflow-y: scroll;
}
path
{
	cursor:pointer;
}
.fixed-note{
  position:fixed;
  top:0px;
  right:0px;
  background:white;
  font-weight:bolder;
  color:black;
  margin-top:4%;
  margin-right:3%;
  width:150px;
}
.fixed-note a{
  text-decoration: none;
  color:black;
}
.fixed-note button{
  padding:4px;
  background:#642700;
  color:white;
  font-weight: bold;
  margin:2px;
  width:100%;
  text-align: center;
  border:none;
  border-radius: 4px;
  cursor:pointer;
}
