/*CSS for profiles*/
body,html{
  background:#37474F !important;
}
#header{
  position:fixed;
  width: 100%;
  top: 0;
  left:0;
  z-index:9;
  height:50px;/*Same as that of menu-bar class*/
}
.hidden{
  display:none;
}
.one-third{
  width:32%;
  vertical-align: top;
}
.tab, .tab-feed{
  background:white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width:25%;
  cursor:pointer;
  padding:3px;
  font-weight:bold;
}
.tab{
  border-bottom:2px solid #ECEFF1;
}
.profile-specs .one-half{
  padding:2%;
  margin-bottom:2%;
}
.profile-specs .one-half .suggestions{
  height:20%;
  overflow-y:scroll;
}
.active-tab{
  border-bottom:2px solid white;
}
.tab-expand, .tab-expand-feed{
  background: white;
  height:80%;
  padding-top:2%;
  padding-left:2%;
}
.center-align{
  width:100%;
  text-align: center;
}
.profile-img{
  border:4px solid #37474F;
  border-radius:4px;
}
.profile-screen{
  padding:2%;
  margin:4% 3% 3% 3%;
  background:rgb(236,239,241);
}
.profile-pic img{
  margin-right:3%;
  max-width:100%;
}
.tiny-link, .tiny-link a{
  text-decoration:none;
  font-size:15px;
  font-family:'district_prothin';
  text-align:center;
  color:black;
  text-transform:uppercase;
}
.tiny-link a{
  color:white !important;
}
.contains-banner{
  width:100%;
  position:relative;
}
.create-banner{
  position:absolute;
  right:0px;
  top:0px;
  padding:5px;
  background:rgb(231, 76, 60);
  border-radius:4px;
}
/*CSS for follow suggestions*/
/*CSS for campaign thumbnails*/
.campaign-object{
  display:inline-block;
  text-align:center;
  position: relative;
  margin:3%;
}
.thumbnail{
  top:0;
  left:0;
  height:120px;
  width:120px;
  border-width: 5px;
  border-style: solid;
  border-radius:50%;
}
.campaign-object a{
  text-decoration:none;
  width:100%;
  font-family:'aaarghnormal';
  font-size:12px;
  color:black;
  text-transform:uppercase;
  color:white;
  font-weight:bold;
  padding:10px;
}
.no-action{
  background:rgb(229,57,53);
  border-color:rgb(229,57,53);
}
.cant-take-action{
  background:rgb(251,192,45);
  border-color:rgb(251,192,45);
}
.taken-action{
  background:rgb(56,142,60);
  border-color:rgb(56,142,60);
}
.inline{
  display:inline-block;
}
/*This CSS is for the follow suggestion strip*/
#follow-strip-suggestions>div{
  display:inline-block;
  margin-left:2px;
  margin-right:2px;
  border:1px solid rgb(108, 122, 137);
  padding:4px;
  text-align: center;
  min-width:80px;
}
.follow-btn button{
  border-radius:4px;
  background:#c62828;
  color:white;
  border:none;
  padding:4px;
  margin:4px;
  text-align:center;
  cursor:pointer;
  position:absolute;
  right:0px;
}
#icon-residence{
  vertical-align:-20%;
}
.bold{
  font-weight: bolder;
}
.rightbar{
  border-right:1px solid gray;
  padding-right:3px;
}
.follow-frame{
  background:#ECEFF1;
  padding:0.2%;
  border-radius:4px;
  margin:0.2%;
  width:45%;
  display:inline-block;
  position: relative;
}
.follow-frame>*{
  margin-left:0.5%;
  margin-right:0.5%;
}
.whitedrop{
  background:white;
}
.factsheet{
  text-align:center;
}
.factsheet>div{
  margin:10px;
  height:30px;
}
.factsheet>.more-height{
  height:80px;
}
.factsheet i{
  color:white;
  padding-left:5px;
  padding-top:5px;
}
.factsheet .fact-icon{
  width:5%;
  height:100%;
  background:#b71c1c;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display:inline-block;
  vertical-align: top;
}
.factsheet .more-height .fact-key{
  height:95%;
}
.factsheet .fact-key{
  height:88%;
  background:#212121;
  color:white;
  font-weight:bolder;
  padding:2px;
  display:inline-block;
  width:20%;
  vertical-align: top;
}
.factsheet .fact-data{
  display:inline-block;
  width:65%;
  height:100%;
  background:white;
  border-top-right-radius: 4px;
  border-bottom-right-radius:4px;
  overflow-y:scroll;
}
.vertical-mid{
  vertical-align: middle !important;
  text-align: center;
  width:30%;
}
#const-name-box{
  width:100%;
  text-align: center;
  font-size:40px;
}
