@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;margin-right:20px;
}.flaticon-books8:before {
	content: "\e000";
}
.flaticon-entrepreneur:before {
	content: "\e001";
}
.flaticon-fist:before {
	content: "\e002";
}
.flaticon-handcuffs:before {
	content: "\e003";
}
.flaticon-home220:before {
	content: "\e004";
}
.flaticon-id17:before {
	content: "\e005";
}
.flaticon-iris:before {
	content: "\e006";
}
.flaticon-man286:before {
	content: "\e007";
}
.flaticon-map-pointer7:before {
	content: "\e008";
}
.flaticon-map35:before {
	content: "\e009";
}
.flaticon-megaphone27:before {
	content: "\e00a";
}
.flaticon-promise:before {
	content: "\e00b";
}
.flaticon-rupee1:before {
	content: "\e00c";
}
.flaticon-user87:before {
	content: "\e00d";
}
